<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    ">
	
	<!-- Factory Bean -->
	<bean id="factory" class="com.lithan.assignmentone.PaymentProcessorFactory"></bean>
	
	<!-- Google Pay -->
	<bean id="gpay-method" factory-bean="factory" factory-method="getPaymentProcessor">
		<constructor-arg name="mode" value="gpay"></constructor-arg>
	</bean>
	
	<bean id="gpay-service" class="com.lithan.assignmentone.BillingService">
		<property name="paymentProcessor" ref="gpay-method"></property>
	</bean>
	
	<!-- Credit Card -->
	<bean id="credit-card-method" factory-bean="factory" factory-method="getPaymentProcessor">
		<constructor-arg name="mode" value="credit_card"></constructor-arg>
	</bean>
	
	<bean id="credit-card-service" class="com.lithan.assignmentone.BillingService">
		<property name="paymentProcessor" ref="credit-card-method"></property>
	</bean>
</beans>
