<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top shadow-sm">
  <div class="container">
    <a class="btn fw-bold fs-4 link-primary border-0" routerLink="/">
      ABC <span class="badge text-bg-primary bg-primary">Jobs</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav ms-auto mx-3 fw-bold">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Public</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs">Jobs</a>
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" routerLink="/profile/{{userProfilePublic.id}}">
            Account</a>
        </li>
      </ul>
      <div class="nav-button d-flex flex-column flex-lg-row" *ngIf="!loggedIn">
        <button type="button" class="btn btn-outline-secondary btn-sm mx-1 fw-bold"
          routerLink="/register">Register</button>
        <button type="button" class="btn btn-primary btn-sm fw-bold" routerLink="/login">Login</button>
      </div>
      <div class="nav-button d-flex flex-column flex-lg-row" *ngIf="loggedIn">
        <button type="button" class="btn btn-outline-danger btn-sm mx-1 fw-bold" routerLink="/login"
          (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
