<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<servlet>
		<servlet-name>register_servlet</servlet-name>
		<servlet-class>com.servlets.RegisterServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>register_servlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registration</servlet-name>
		<servlet-class>com.servlets.Register</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>thank_you</servlet-name>
		<servlet-class>com.servlets.ThankYou</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>thank_you</servlet-name>
		<url-pattern>/thankyou</url-pattern>
	</servlet-mapping>

</web-app>