<app-navbar></app-navbar>

<section class="hero">
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../../assets/img/vector/hero.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
          loading="lazy">
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <h2 class="fw-bold">Find your dream job with ABC Jobs</h2>
        <form class="p-4 p-md-5 border rounded-3 bg-light" name="form" (ngSubmit)="loginForm.form.valid && onLogin()"
          #loginForm="ngForm" novalidate *ngIf="!loggedIn">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
              [(ngModel)]="userInputEmail" [ngModelOptions]="{ standalone: true }" required [ngClass]="{
                'is-invalid': loginForm.submitted && email.invalid
              }" #email="ngModel">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
              [(ngModel)]="userInputPassword" [ngModelOptions]="{ standalone: true }" required [ngClass]="{
                'is-invalid': loginForm.submitted && password.invalid
              }" #password="ngModel">
            <label for="floatingPassword">Password</label>
          </div>

          <div class="d-flex align-items-center mb-5">
            <div class="form-check">
              <input type="checkbox" name="remember" id="remember" class="form-check-input">
              <label for="remember" class="form-check-label">Remember Me</label>
            </div>
            <div class="col">
              <a routerLink="/forgot-password" class="float-end">
                Forgot Password?
              </a>
            </div>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="company">
  <div class="container">
    <div class="row cards mt-5">
      <h3 class="text-center p-3 fw-bold">Popular Companies</h3>
      <div class="col-md-4 d-flex justify-content-center" *ngFor="let company of company">
        <div class="card m-3 border-0">
          <div class="card-body">
            <div class="text-center">
              <img src="{{company.logo}}" class="rounded" alt="{{company.alt}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="category mt-5 bg-light p-5">
  <div class=" container">
    <div class="heading text-center p-3">
      <h3 class="fw-bold">Explore Jobs by Categories</h3>
    </div>
    <div class="d-flex flex-wrap mt-3 justify-content-center">
      <div class="me-3 mb-3" *ngFor="let category of category">
        <button type="button" class="btn btn-outline-secondary">{{category.category}}</button>
      </div>
    </div>
  </div>
</section>

<section class="jobs mt-5">
  <div class="container">
    <div class="heading text-center p-3">
      <h3 class="fw-bold">Explore Popular Jobs</h3>
    </div>
    <div class="d-flex flex-wrap mt-3 justify-content-center">
      <div class="job-container me-3 mb-3" *ngFor="let job of job">
        <div class="card p-3 d-flex">
          <div class="wrapper d-flex align-items-center me-3">
            <div class="logo me-3">
              <img src="{{job.logo}}" alt="" />
            </div>
            <div class="detail">
              <h5 class="fw-semibold">{{job.jobTitle}}</h5>
              <h5 class="text-secondary fs-6">{{job.company}}</h5>
              <p class="card-text"><small class="text-muted">{{job.jobType}}</small></p>
            </div>
          </div>
          <div class="wrapper d-flex align-items-center my-3">
            <button class="btn btn-outline-primary">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-5 p-5 border-top">
  <div class=" container">
    <div class="d-flex flex-wrap mt-3 justify-content-center">
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <img src="../../assets/img/vector/communication.jpg" alt="image" class="section">
              <h5 class="card-title my-3">Connect with people who can help</h5>
              <a routerLink="/search" class="btn btn-outline-secondary">Find people you know</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <img src="../../assets/img/vector/learn.jpg" alt="image" class="section">
              <h5 class="card-title my-3">Learn the skills you need to succeed</h5>
              <a routerLink="/jobs" class="btn btn-outline-secondary">Learn now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
