* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
  
body {
	color: #51555c;
	background-color: #123456;
	display: flex;
	justify-content: center;
}
  
  .loading {
	background-color: white;
  }
  
  #loading {
	visibility: hidden;
  }
  
  #container {
	width: 900px;
	margin-top: 100px;
	background-color: white;
	border-radius: 20px;
	padding: 20px;
  }
  
  h2 {
	color: #999999;
  }
  
  nav {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
  }
  
  nav ul {
	display: flex;
  }
  
  nav ul li {
	list-style: none;
	background-color: rgb(0, 0, 51);
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 10px;
	cursor: pointer;
  }
  
  nav ul li:hover {
	opacity: 0.7;
  }
  
  nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 0.9rem;
  }
  
  #pageContent {
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 1px solid #51555c6e;
  }
  
  .products {
	display: flex;
	justify-content: space-between;
  }
  
  .products li {
	list-style: none;
  }
  
  .product-name {
	margin-bottom: 10px;
  }
  
  h3 {
	margin-top: 10px;
  }
  
  select {
	cursor: pointer;
  }