<app-navbar></app-navbar>

<section class="h-100 mt-3">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="card m-3 shadow">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
            <form name="form" (ngSubmit)="loginForm.form.valid && onLogin()" #loginForm="ngForm" novalidate>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput loginEmail" placeholder="name@example.com"
                  [(ngModel)]="userInputEmail" [ngModelOptions]="{ standalone: true }" required [ngClass]="{
                  'is-invalid': loginForm.submitted && email.invalid
                }" #email="ngModel">
                <label for="floatingInput">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword loginPassword" placeholder="Password"
                  [(ngModel)]="userInputPassword" [ngModelOptions]="{ standalone: true }" required [ngClass]="{
                  'is-invalid': loginForm.submitted && password.invalid
                }" #password="ngModel">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="d-flex align-items-center mb-5">
                <div class="form-check">
                  <input type="checkbox" name="remember" id="remember" class="form-check-input">
                  <label for="remember" class="form-check-label">Remember Me</label>
                </div>
                <div class="col">
                  <a routerLink="/forgot-password" class="float-end">
                    Forgot Password?
                  </a>
                </div>
              </div>
              <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              Don't have an account? <a routerLink="/register" class="text-dark">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
