<div class="footer bg-light">
  <div class="container">
    <footer class="row row-cols-5 py-5 mt-5 border-top">
      <div class="col">
        <a class="btn fw-bold fs-1 link-primary border-0" routerLink="/">
          ABC <span class="badge text-bg-primary bg-primary">Jobs</span>
        </a>
        <p class="text-muted">© 2022 | All rights reserved.</p>
      </div>

      <div class="col">

      </div>

      <div class="col">
        <h5>General</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">About</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Help</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Careers</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Social Media</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Facebook</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Instagram</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">YouTube</a></li>
        </ul>
      </div>

      <div class="col">
        <h5>Legal & Privacy</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Terms of Us</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-muted">Privacy Policy</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
